.nicewoman
  .happy-birthday
    You are Beautiful!
    .road-track
      .rt--step-1
        = image_tag 'track.svg', class: 'rt--step-1'
      .rt--step-2
        = image_tag 'track-2.svg', class: 'rt--step-2'
